@import 'tale/variables';
@import 'tale/base';
@import 'tale/code';
@import 'tale/post';
@import 'tale/syntax';
@import 'tale/layout';
@import 'tale/pagination';
@import 'tale/catalogue';
@import 'tale/404';
@import 'tale/tags';


.tight-math-v2 mjx-container[display="true"] {
  margin-top: 0.15em !important;
  margin-bottom: 0.25em !important;
}

.tight-math mjx-container[display="true"] {
  margin-top: 0.25em !important;
  margin-bottom: -0.15em !important;
}


html {
    zoom: 90%;
}

body {
    max-width: 950px;
    margin: 0 auto;
}

h1, h2, h3 {
    margin-bottom: 15px;
    margin-left: -15px;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    margin-top: 40px;
}


ul {
    text-align: justify;

}